body {
	margin: 0px 350px;
	background-image: url('../images/background.png');
}

.account {
	width: 40%;
    margin: 120px auto;
    padding: 100px 0 150px;
    background-color: rgba(0,0,0,.50);
    opacity: 0.;
    border-radius: 1vw;
}


.content {
  width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  background-color :rgba(0,0,0,.50);
  color: white;
  font-weight: bold;
}

.join_title {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
    *position: absolute;
    *top: 0;
    *left: 0;
    -webkit-apperance: none;
}

.step_url {
    position: absolute;
    top: 16px;
    right: 13px;    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
}

.ps_box.int_id input, .ps_box.int_pass input {
    background: #fff;
    outline: 0;
}

.ps_box, .ps_box_disable {
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    background: #fff;
    box-sizing: border-box;
}

.ps_box:hover {
    border: 1px solid #e60012;
}

.sel {
    width: 100%;
    height: 29px;
    padding: 7px 8px 6px 7px\9;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    border-radius: 0;
    *height: auto;
    -webkit-appearance: none;
}

.btn_primary {
    color: #fff;
    border: solid 1px rgba(0,0,0,.08);
    background-color: #4e3638;
}

.btn_type {
    display: block;
    /*width: 100%;*/
    margin-top: 30px;
    padding: 15px 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.btn-danger {
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 15px 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}