@charset "UTF-8";


 .btn_allView{
	padding:4px 32px 4px 15px; 
	font-size:14px; 
	color:#fff;
	line-height:1.429em;
	background:transparent url('../images/arrowR_8x13.png') calc(100% - 7px) center/8px 13px scroll no-repeat; border:1px solid #e2e2e2;
	border-radius:15px; box-shadow:1px 1px 1px 0 rgba(0, 0, 0, 0.05);
	float: right;
	text-decoration: none;
	transition: all 0.5s ease-out;
}

.btn_allView:hover{
	color: #000;
	background-color: #fff;
}


.mfchart:hover{
	border-bottom: 1px solid;
}