@charset "UTF-8";

body {
	margin: 0;
}

#container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#imageWrapper {
	background-color: black;
	position: absolute;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 630px;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
}

#mainWrapper {
	padding: 0px 350px;
}

#mainWrapper img {
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}

#mainBlock {
	display: flex;
	height: 550px;
}

#mainLeft {
	width: 900px;
	padding-top: 20px;
	color: white;
}

#mltop {
	height: 300px;
	padding-top: 50px;
}

#title {
	padding-left: 20px;
	font-size: 60px;
	font-weight: bold;
}

#regipercent {
	margin-top: 20px;
	padding-right: 20px;
	font-size: 18px;
	display: flex;
	justify-content: flex-end;
}

#detailList {
	margin-top: 20px;
	padding-left: 20px;
	font-size: 18px;
}

.fa-egg {
	color: gold;
	margin-right: 10px;
}

.icons {
	margin-right: 10px;
	margin-bottom: 10px;
}

#score {
	height: 200px;
}

#mainRight {
	width: 450px;
	display: flex;
	margin-top: 40px;
	flex-direction: column;
	align-items: center;
}

#poster {
	width: 280px;
	height: 400px;
	margin-bottom: 30px;
}

#poster img {
	border-radius: 1vw;
	position: relative;
	width: 100%;
	height: 100%;
}

#resvbtn input {
	width: 280px;
	height: 50px;
	border-radius: 1vw;
	border: none;
	background-color: rgba(245, 161, 66, 0.8);
	color: white;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

#resvbtn input:hover {
	background-color: #ffde82;
	color: white;
}

#contentWrapper {
	padding: 0px 350px;
	height: auto;
}

#contentBlock {
	padding-top: 50px;
}

#contentBlock .title {
	font-size: 30px;
	font-weight: 400;
}

#contentBlock #content {
	padding-top: 50px;
	font-weight: 400;
}

#reviewWrapper {
	padding: 0px 350px;
	margin-bottom: 200px;
	height: auto;
}

#reviewWrapper .title {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 20px;
}

#slider {
	padding: 50px 600px;
}

.carousel-item img {
	width: 100%;
	height: 100%;
}

#table {
	border-top: 2px solid #a6a6a6;
	border-bottom: 2px solid #a6a6a6;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	overflow-wrap: break-word;
}

.td {
	border-bottom: 1px solid #a6a6a6;
	padding: 10px;
	padding-right: 20px;
}

.td:nth-child(even) {
	border-left: 1px solid #a6a6a6;
}

#tdDiv {
	display: flex;
}

#revLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}

#revLeft img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

#revId #id {
	color: gray;
}

#revTop {
	display: flex;
	justify-content: space-between;
}

#revRight {
	margin-top: 50px;
	margin-right: 20px;
	width: 500px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}