@charset "UTF-8";

body{
  background-image: url("../images/bg1.png");
  /* background-size: cover; */
  color: #333;
}

.content-wrapper {
	font-family: Times, serif, Georgia;
    width: 55%;
    margin: 0 auto;
    padding-top: 50px;
    height: 100%;
    display:flex;
    flex-direction:column;
    
}

.content-wrapper .top{
	background-color: rgba(0,0,0,.7);
	color: #fff;
	height: 300px;
	margin-bottom: 50px;
	padding: 35px 45px;
	display: flex;
	border-radius: 1vw;
}

.content-wrapper .top_left{
	width: 60%;
	/* display: flex;
	flex-direction: column;
	 */margin-right: 20px;
}

.content-wrapper .top_left .top_myinfoUp{
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	height: 180px;
}

.content-wrapper .top_left .top_myinfoDown{
	margin: 0 auto;
	padding-top: 40px;
	width: 100%;
	height: 50px;
}

.content-wrapper .top .top_left .top_myinfoDown a {
	color: #7F7F7F;
	font-size: 20px;
  	text-decoration: none;
  	padding-bottom: 10px;
}

.content-wrapper .top .top_left .top_myinfoDown a:hover {
	color: #fff;
}

.content-wrapper .top_right{
	width: 100%;
	font-size: 20px;
}

.content-wrapper .top_right .top_myinfoUp{
	padding: 20px 0;
	height: 100px;
}

.content-wrapper .top_right .top_myinfoDown{
	margin: 0 auto;
	padding-top: 40px;
	width: 100%;
	height: 50px;
}

.content-wrapper .top_right .top_right span{
	font-size: 30px;
	font-weight: bold;
}

.content-wrapper .bottom{
	background-color: rgba(0,0,0,.7);
	color: #fff;
	height: calc(100vh - 300px);
	margin-bottom: 50px;
	padding: 30px 15px;
	border-radius: 1vw;
}

.content-wrapper .bottom .inner{
	font-size: 40px;
}

.content-wrapper .bottom ul li{
	list-style: none;
	float: left;
	line-height: 30px;
	text-align: center;
	height: 500px;
}



/* MENU */

.content-wrapper .top .top_right .top_myinfoDown .sub-menu .menu {
	width: 40%;
	height: 74px;
	float: left;
	margin-left: 20px;
}

.content-wrapper .top .top_right .top_myinfoDown .sub-menu .menu .menu__name {
 /*  padding: 10px 20px 34px 20px; */
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.content-wrapper .top .top_right .top_myinfoDown .sub-menu .menu .menu__name a {
	color: #7F7F7F;
	font-size: 20px;
  	text-decoration: none;
  	padding-bottom: 10px;
  	border-bottom: solid;
}

.content-wrapper .top .top_right .top_myinfoDown .sub-menu .menu .menu__name a::after {
  width: 50px;
  border-bottom: solid;
}

.content-wrapper .top .top_right .top_myinfoDown .sub-menu .menu:hover .menu__name {
  border-radius: 6px 6px 0 0;
}

.content-wrapper .top .top_right .top_myinfoDown .sub-menu .menu:hover .menu__name a {
  color: #fff;
  text-decoration: none;
}

.content-wrapper .top .top_right .top_myinfoDown .contents {
	width: 48%;
	height: 74px;
}