@charset "UTF-8";


body {
	margin: 0;
}

#container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

#mainWrapper {
	padding: 0px 350px;
	background-image: url("../img/토르.jpg");
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#mainBlock {
	padding: 10px;
	border-radius: 1vw;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	height: 80vh;
}

#mainLeft {
	width: 900px;
	padding: 20px;
	color: black;
}

#selectList {
	display: flex;
	justify-content: space-around;
	height: 60vh;
}

.list-group {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 280px;
	border-radius:1vw;
}

.list {
	overflow: auto;
}

.selectList{
	cursor: pointer;
}

.defaultTheater{
	background-color: rgba(204, 204, 204, 0.5);
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	width: 280px;
	height:510px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: #262626;
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-track {
	background-color: white;
	box-shadow: inset 0px 0px 5px white;
}

.date{
	display: flex;
}

#title {
	font-size: 40px;
}

#regipercent {
	margin-top: 20px;
	padding-left: 20px;
}

i {
	margin-right: 10px;
}

#score {
	height: 200px;
}

#mainRight {
	width: 450px;
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	align-items: center;
}

#poster {
	width: 280px;
	height: 400px;
	margin-bottom: 30px;
}

#poster img{
	border-radius: 1vw;
	position: relative;
	width: 100%;
	height: 100%;
}

#resvbtn input {
	width: 280px;
	height: 50px;
	border-radius: 1vw;
	border: none;
	background-color: rgba(245, 161, 66, 0.8);
	color: white;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}

#resvbtn input:hover{
	background-color: #ffde82;
	color: white;
}

#contentWrapper {
	padding: 0px 350px;
	height: auto;
}

#contentBlock {
	padding-top: 50px;
}

#contentBlock .title {
	font-size: 30px;
	font-weight: 400;
}

#contentBlock #content {
	padding-top: 50px;
	font-weight: 400;
}

#reviewWrapper {
	padding: 0px 350px;
	margin-bottom: 200px;
	height: auto;
}

#reviewWrapper .title {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 20px;
}

#table {
	border-top: 2px solid #a6a6a6;
	border-bottom: 2px solid #a6a6a6;
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	overflow-wrap: break-word;
}

.td {
	border-bottom: 1px solid #a6a6a6;
	padding: 10px;
	padding-right: 20px;
}

.td:nth-child(even) {
	border-left: 1px solid #a6a6a6;
}

#tdDiv {
	display: flex;
}

#revLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
}

#revLeft img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

#revId #id {
	color: gray;
}

#revTop {
	display: flex;
	justify-content: space-between;
}

#revRight {
	margin-top: 50px;
	margin-right: 20px;
	width: 500px;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}