.signin {
	margin: 0px 350px;
	/*margin-top: 120px;*/
	/*padding: 100px 0 150px;*/
	position: relative;
	/*height: 400px;*/
	background-color: #333;
	overflow: hidden;
}

.signin h1 {
	/*position: absolute;*/
	top: -110px;
	left: 41%;
	color: #e60012;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 24px;
}

.signin__card {
	position: absolute;
	top: -55px;
	left: -23%;
	width: 500px;
	margin: 0 auto;
	border-radius: 6px;
	background-color: #f6f5f0;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
	color: #555;
}

.signin__card h2 {
	padding: 30px;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

.signin__card h2 strong {
	font-weight: 700;
	color: #e60012;
}

.signin__card form {
	padding: 30px 22px;
}

.signin__card form input {
	width: 100%;
	margin-bottom: 12px;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
	box-sizing: border-box;
	font-size: 14px;
}

.signin__card form [type="submit"] {
	background-color: #e60012;
	border: none;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.signin__card form [type="checkbox"] {
	width: 10px;
	cursor: pointer;
}

.signin__card form label {
	font-size: 15px;
	color: #e60012;
	text-align: left;
}

.signin__card .actions {
	display: flex;
	border-top: 1px solid #ddd;
}

.signin__card .actions a {
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
	padding: 20px;
	color: #555;
	font-size: 14px;
	border-right: 1px solid #ddd;
}

.signin__card .actions a:last-child {
	border-right: none;
}

.signin__card .actions a:hover {
	color: #e60012;
	text-decoration: underline;
}

/* YOUTUBE VIDEO */
.youtube__area {
	width: 1920px;
	background-color: orange;
	position: absolute;
	left: 50%;
	margin-left: calc(1920px/ -2);
	top: 50%;
	margin-top: calc(1920px * 9/ 16/ -2);
}

.youtube__area::before {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	padding-top: 56.25%;
}

.youtube__cover {
	background-image: url("../images/video_cover_pattern.png");
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#player {
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	top: 0;
	left: 0;
}

/* RESERVE STORE */
.signin .inner {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signin .medal {
	width: 334px;
	height: 334px;
	perspective: 600px;
}

.signin .medal .front, .signin .medal .back {
	width: 334px;
	height: 334px;
	position: absolute;
	backface-visibility: hidden;
	transition: 1s;
}

.signin .medal .front {
	transform: rotateY(0deg);
}

.signin .medal:hover .front {
	transform: rotateY(180deg);
}

.signin .medal .back {
	transform: rotateY(-180deg);
}

.signin .medal:hover .back {
	transform: rotateY(0deg);
}